
<div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-md-2 ">
            <div class="navbar sticky-top bg-black navbar-white  text-white nav vh-100">
                <div>
                    <ul class="navbar-nav ms-auto  text-start">
                        <li class="nav-item "><a routerLink="/user"
                                class="nav-link fw-semibold fs-5 text-white ">Home</a></li>
                        <li class="nav-item "><a routerLink="/user/view"
                                class="nav-link fw-semibold fs-5 text-white">View</a></li>
                        <li class="nav-item "><a routerLink="/user/cart"
                                class="nav-link fw-semibold fs-5 text-white">Cart<span class="badge bg-info text-white">{{length}}</span></a>
                        </li>
                        <li class="nav-item "><a routerLink="/user/vieworders"
                            class="nav-link fw-semibold fs-5 text-white">ViewOrders</a></li>
                        <li class="nav-item "><a routerLink="" class="nav-link fw-semibold fs-5 text-white bg-danger px-3 rounded" (click)="Logout()">Logout</a></li>
                       
                        </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10 m-0 p-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

