<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-hovered table-striped">
               <tr>
                
                <th>UserName</th>
                <th>Password</th>
                <th>Actions</th>
               </tr>
               <tr *ngFor="let u of userData">
                
                <td>{{u.username}}</td>
                <td>{{u.password}}</td>
                <td><i class="fa-solid fa-trash text-danger"></i><i class="fa-solid fa-pen-to-square text-primary"></i></td>
               </tr>
            </table>
        </div>
    </div>
</div>
